@media only screen and (max-device-width: 480px){
    body{
            font-size: 3em;
    }


    form.admin-key{
        margin: 10px 0;

        input{
            font-size: 1em;
        }
    }       

    th{
        font-size: 1em;
        padding: 5px;
    }

    div#add-form .input-row {
        input{
            font-size: 1em;
            padding: 5px;
        }
    }

    form.new_player{
        input{
            font-size: 1em;
            padding: 5px;
            width: 100%;
        }

        input[type="checkbox"]{
            height: 1em;
        }

        input[type="select"]{
            font-size: 1em;
            background-color: white;
        }
    }

    input.btn.submit{
        font-size: 1em;
    }
}
