<div class="container">
    <p>This website created by Matthew Chinn. If there are any bugs or issures, 
    please contact him 
    <a href="mailto:mattchinn96@gmail.com?Subject=Assassins_Website" target="_top">here</a></p>

    <p>If you would like to contribute to the code, checkout the repository 
    <a href="https://github.com/matthew-chinn/assassins" target="_blank">here</a></p>
    
</div>
