$success: #2e7d32;
$failure: #ef5350;

$main1: #006064;
$main2: #00ACC1;
$main3: #4DD0E1;

$accent1: #f4511e;
$accent2: #ffab91;
$white: #fdfdfd;

$background-color: #fff9f0;

$alpha: #ffb74d;
$phi: #691a99;
$omega: blue;
$rho: red;
$pi: green;
